body {
    font-family: 'Noto Sans SC', sans-serif;
    font-family: 'Varela Round', sans-serif;
    color: rgb(39, 39, 39);
}

header {
    padding: 30px;
    display: flex;
    justify-content: center;
}


input[type=text],input[type=password] {
    padding: 7px 2px;
    background-color: rgb(211, 233, 252);
    height: 25px;
    width: 300px;
    border: 1px solid #707070;
    border-radius: 4px;
    font-size: 0.9em;
}

button {
    font-size: 20px;
    color: aliceblue;
    text-align: center;
    background-color: rgb(94, 122, 247);
    border-radius: 15px;
    padding: 0px 50px;
    margin: 30px 30px 30px 30px;
    border: 5px;
    border-style: solid;
    border-color: white;
    box-shadow: 2px 2px 5px #000;
}

.form-group {
    text-align: center;
    margin-bottom: 15px;
}


h1 {
    text-align: center;
}

h2 {
    margin-left: 20px;
}


img {
    width: 70px;
    height: 70px;
}

div.wrap{
    width: 500px;
    margin: 1px auto;
    display: flex;
    justify-content: center;
}
span.help-block{
    color: red!important;
    display: none;
}

/*Footer*/
.footer {
    background-color: #ffffff;
    text-align: center;
    padding-top: 12px;
    padding-bottom: 12px;
}


.time {
    display: flex;
    justify-content: center;
}

.covid-190 {
    color: rgb(1, 205, 137);
}

.covid-191 {
    color: rgb(205, 38, 1);
}